<div>
  <header>
    <p>{{ content }}</p>
  </header>
  <button mat-button>button </button>
  <button mat-raised-button>Hello world </button>
  <button mat-flat-button>flat </button>
  <button mat-stroked-button>stroked </button>
  <!-- <div class="mat-display-1"> this is display1 </div>
  <div class="mat-display-3"> this is display3 </div> -->
  <!-- <div class="mat-headline"> this is headline </div>
  <div class="mat-title"> this is title </div>
  <div class="mat-subheading-2"> this is subheading-2 </div>
  <div class="mat-subheading-1"> this is subheading-1 </div> -->
</div>
<div>
   <button mat-icon-button>icon</button>
   <button mat-fab>fab</button>
   <button mat-mini-fab>fab</button>
</div>

<div>
  <button color ="primary" mat-raised-button>primary</button>
  <button color ="accent" mat-raised-button>accent</button>
  <button color ="warning" mat-raised-button>warning</button>
</div>